[submodule "ImageBind-LoRA"]
	path = code/model/ImageBindLoRA
	url = https://github.com/fabawi/ImageBind-LoRA.git
[submodule "llama"]
	path = code/model/llama
	url = https://github.com/facebookresearch/llama.git
[submodule "pandagpt"]
	path = code/model/pandagpt
	url = https://github.com/yxuansu/PandaGPT.git
[submodule "code/Benchmark/mllm"]
	path = code/Benchmark/mllm
	url = https://github.com/UbiquitousLearning/mllm.git
[submodule "code/Benchmark/mmpretrain"]
	path = code/Benchmark/mmpretrain
	url = https://github.com/open-mmlab/mmpretrain.git
[submodule "code/mobile/mllm"]
	path = code/mobile/mllm
	url = https://github.com/UbiquitousLearning/mllm.git
